@model Dotnet.Models.ListItemViewModel

<div class="flex flex-col w-56 xl:w-[24rem] items-center gap-2">
    <div
        class="bg-[#1D3D6E] text-white font-bold rounded-full size-12 xl:size-28 xl:text-3xl flex justify-center items-center text-xl">
        @Model.Id</div>
    <div class="text-center leading-5 font-semibold xl:text-xl xl:font-normal">@Model.Text</div>
</div>