@model int

@* Nếu chọn <18 tuổi thì score sẽ bị âm
Total score < 4: Low
Total score = 4: Mid
Total score > 4: High
*@
@if (Model < 0)
{
    <div>
        <h1 class="resultTitle h-fit w-fit">Cảnh báo dưới 18 tuổi</h1>
        <div class="description">
            <h2>Tổng Quan</h2>
            <p>Xin cảm ơn bạn đã thực hiện web của chúng tôi. Nhưng rất tiếc bạn chưa đủ 18tuổi để sử dụng bia hay bất kì
                loại nước uống có cồn trên thị trường hiện tại
                Bởi vì quy định pháp luật đề ra trên 18 tuổi mới được sử dụng bí rượu.
                Nếu các bạn sử dụng dưới độ tuổi này là các bạn vừa đang vi phạm pháp luật và song với điều đó là ảnh hưởng
                tới sức khoẻ của riêng bản thân bạn.
            </p>
        </div>
        <div class="">
            <h2>Phân tích</h2>
            <p> Thanh thiếu niên/vị thành niên là một giai đoạn chuyển tiếp từ trẻ em sang người trưởng thành, đang phát
                triển về thể chất, tinh thần. Các hóc-môn dậy thì của giai đoạn này kích hoạt các vùng đảm nhiệm chức năng
                cảm xúc, xã hội của bộ não đang phát triển, thúc đẩy hành vi của người trẻ tuổi...
                Các bằng chứng khoa học cũng cho thấy rượu, bia tác động ở cấp phân tử và cấp tế bào đến quá trình hình
                thành và phát triển của não, có thể dẫn đến thay đổi cấu trúc của đồi hải mã, là vùng não có vai trò quan
                trọng cho quá trình học tập, làm giảm trí nhớ, giảm khả năng tập trung của não bộ…
            </p>
            <div class="">
                <h2>Hậu quả </h2>
                <p> Như vậy về hậu quả trước mắt, uống rượu, bia gây ra các hành vi nguy cơ ở thanh thiếu niên như say rượu
                    dẫn đến ngộ độc rượu, có hành vi bạo lực, quan hệ tình dục không an toàn, tai nạn, chấn thương khi điều
                    khiển phương tiện giao thông, ... Còn về lâu dài thì uống rượu, bia sẽ gây lệ thuộc, mắc các bệnh mạn
                    tính và gây ảnh hưởng đến cả phát triển thể chất và tinh thần khi trưởng thành.
                    Hãy sử dụng bia rượu khi đủ tuổi nhé!
                </p>
            </div>
        </div>
    </div>
}
else if (Model < 4)
{
    <h1 class="resultTitle h-fit w-fit">Low</h1>
    <div class="description">
        <div class="">
            <h2>Tổng quan</h2>
            <p>Tin tuyệt vời! Bạn đang uống rượu trong giới hạn an toàn và bạn tránh uống rượu say.
                Theo các nghiên cứu, lá gan của một người bình thường khỏe mạnh có thể lọc được khoảng từ 300ml - 400ml bia
                mỗi ngày:
                > Khuyến cáo nữ giới chỉ nên uống không quá 330ml bia, tương đương 1 lon bia mỗi ngày
                >Nam giới thì chỉ nên uống không quá 660ml bia, tức khoảng 2 lon bia mỗi ngày. => Song điều đáng lưu ý là
                một tuần không nên uống quá 5 ngày.
                ( https://tuoitre.vn/video/uong-bia-dung-cach-de-tot-cho-suc-khoe-152327.htm )
            </p>
        </div>
        <div class="">
            <h2>Phân tích tình trạng hiện tại</h2>
            <p>Việc bạn uống bia rượu đúng cách và trong mức an toàn sẽ mang lại nhiều lợi ích cho bản thân và tốt cho sức
                khoẻ: cải thiện tiêu hoá, đẹp da, hỗ trợ tim mạch, giúp giảm căng thẳng ngủ ngon hơn
                Điều này khiến bạn có ít nguy cơ phát triển các vấn đề về sức khỏe thể chất và tinh thần hơn so với những
                người uống nhiều rượu hơn.
                Xin lưu ý, rủi ro thấp không có nghĩa là không có rủi ro vì ngay cả một ly rượu, bia mỗi đêm cũng có thể làm
                gián đoạn giấc ngủ và ảnh hưởng đến sức khỏe của bạn, vì vậy hãy chú ý đến việc uống rượu của bạn và nó ảnh
                hưởng đến cơ thể bạn như thế nào.
            </p>
        </div>
        <div class="">
            <h2>Giới hạn uống an toàn</h2>
            <p>Đối với những người mắc một số bệnh trạng nhất định, có triệu chứng của một số bệnh trạng nhất định hoặc đang
                dùng các loại thuốc cụ thể, bất kỳ việc uống rượu, bia nào cũng có thể gây nguy hiểm cho sức khỏe của bạn,
                vì vậy hãy nói chuyện với bác sĩ để đảm bảo.
                Một người bình thường không nên uống quá 1 đơn vị rượu/ngày (1 đơn vị rượu chứa 10g cồn), tương đương: 30ml
                rượu mạnh (40-43 độ); 100ml rượu vang (13,5 độ); 330ml bia hơi (5 độ); 2/3 chai 500ml hoặc lon bia 330ml (5
                độ).
            </p>
        </div>
    </div>
}
else if (Model == 4)
{
    <h1 class="resultTitle h-full w-full">Mid</h1>
    <div class="description">
        <div class="">
            <h2>Tổng quan</h2>
            <p>Bạn đang uống nhiều hơn mức hướng dẫn an toàn, có thể là do lượng đồ uống bạn uống hoặc do bạn uống quá nhiều
                ít nhất một lần mỗi tháng.
                Theo các nghiên cứu, lá gan của một người bình thường khỏe mạnh có thể lọc được khoảng từ 300ml - 400ml bia
                mỗi ngày:
                > Khuyến cáo nữ giới chỉ nên uống không quá 330ml bia, tương đương 1 lon bia mỗi ngày
                >Nam giới thì chỉ nên uống không quá 660ml bia, tức khoảng 2 lon bia mỗi ngày. => Song điều đáng lưu ý là
                một tuần không nên uống quá 5 ngày.
                ( https://tuoitre.vn/video/uong-bia-dung-cach-de-tot-cho-suc-khoe-152327.htm )
            </p>
        </div>
        <div class="">
            <h2>Phân tích tình trạng hiện tại</h2>
            <p>Uống rượu ở mức độ này, đặc biệt là uống quá độ
                Uống rượu ở mức độ vừa phải được xem là khá an toàn, nhưng uống quá nhiều rượu và lạm dụng có thể có tác
                động bất lợi đến sức khỏe thể chất và tinh thần của bạn.
                Việc uống bia rượu ở mức độ này sẽ khiến bạn tăng nguy cơ mắc các vấn đề sức khỏe liên quan đến rượu như
                huyết áp cao, đột quỵ, bệnh tim, bệnh gan, ung thư và chấn thương.Bạn cũng có thể có nhiều khả năng gặp vấn
                đề về giấc ngủ, giảm năng lượng và giảm động lực vào ngày hôm sau.
                Những điều này có thể khó nhận thấy nếu bạn đã uống theo cách này trong nhiều năm.
            </p>
        </div>
        <div class="">
            <h2>Giới hạn uống an toàn</h2>
            <p>Đối với những người mắc một số bệnh trạng nhất định, có triệu chứng của một số bệnh trạng nhất định hoặc đang
                dùng các loại thuốc cụ thể, bất kỳ việc uống rượu, bia nào cũng có thể gây nguy hiểm cho sức khỏe của bạn,
                vì vậy hãy nói chuyện với bác sĩ để đảm bảo.
                Một người bình thường không nên uống quá 1 đơn vị rượu/ngày (1 đơn vị rượu chứa 10g cồn), tương đương: 30ml
                rượu mạnh (40-43 độ); 100ml rượu vang (13,5 độ); 330ml bia hơi (5 độ); 2/3 chai 500ml hoặc lon bia 330ml (5
                độ).
            </p>
        </div>
    </div>
}
else
{
    <div class="resultTitle h-full w-full">High</div>
    <div class="description">
        <div>
            <h2>Tổng quan</h2>
            <p>Lượng rượu bạn uống vượt quá mức an toàn đáng kể.Rất có thể việc uống rượu của bạn đã gây ra ít nhất một số
                vấn đề sau đây, ngay cả khi bạn không nghĩ rằng rượu là nguyên nhân: khó ngủ, giảm năng lượng và động lực và
                kèm theo đó là sự lo lắng.
                Theo các nghiên cứu, lá gan của một người bình thường khỏe mạnh có thể lọc được khoảng từ 300ml - 400ml bia
                mỗi ngày:
                > Khuyến cáo nữ giới chỉ nên uống không quá 330ml bia, tương đương 1 lon bia mỗi ngày
                >Nam giới thì chỉ nên uống không quá 660ml bia, tức khoảng 2 lon bia mỗi ngày. => Song điều đáng lưu ý là
                một tuần không nên uống quá 5 ngày.
                ( https://tuoitre.vn/video/uong-bia-dung-cach-de-tot-cho-suc-khoe-152327.htm )
            </p>
        </div>
        <div>
            <h2>Phân tích tình trạng hiện tại</h2>
            <p>Tổ chức Y tế Thế giới (WHO) đánh giá mức tiêu thụ rượu, bia của người Việt Nam là cao so với các quốc gia
                khác trong khu vực. Ước tính, trung bình mỗi người Việt trên 15 tuổi tiêu thụ 8,3 lít cồn nguyên chất trong
                một năm
                Bạn đang ở mức độ rất báo động, khả năng bạn bị nghiện bia rượu là rất cao và điều này sẽ gấy ảnh hưởng rất
                lớn tới cơ thể, sức khỏe và cả tình hình trật tự an ninh xã hội
                Nguồn: https://tuoitre.vn/tac-hai-cua-bia-ruou-voi-suc-khoe-2017091316011917.htm
                >Đối với cơ thể và sức khỏe: Uống nhiều rượu có thể làm giảm đột ngột số lượng hồng cầu trong máu giúp vận
                chuyển oxy để nuôi cơ thể, gây ra thiếu máu. Những người thiếu máu thường bị các triệu chứng như mệt mỏi,
                khó thở, chóng mặt và kém minh mẫn…Ngoài ra bạn còn bị các vấn đề về tim mạch, viêm gan, Gout, huyết áp
                cao,...
                Cồn là chất có tác dụng độc hại đến tinh hoàn và tinh trùng cho nên nếu nam giới uống rượu trước khi sinh
                hoạt tình dục chẳng những làm tăng khả năng sảy thai ở người vợ mà còn có thể ảnh hưởng đến việc phát triển
                của đứa con sinh ra. Nếu người mẹ uống rượu trong thời gian mang thai dễ sinh ra các đứa trẻ có khuyết tật
                về trí tuệ.
                >Đối với xã hội: ảnh hưởng rất lớn đến đời sống và tình hình an ninh trật tự xã hội như bạo hành gia đình và
                gây rối trật tự xã hội. Tai nạn giao thông tăng vọt và thương tâm có liên quan rất nhiều đến rượu, nên nếu
                tham gia giao thông cần rất hạn chế rượu bia
            </p>
        </div>
        <div>
            <h2>Giới hạn uống an toàn</h2>
            <p>Đối với những người mắc một số bệnh trạng nhất định, có triệu chứng của một số bệnh trạng nhất định hoặc đang
                dùng các loại thuốc cụ thể, bất kỳ việc uống rượu, bia nào cũng có thể gây nguy hiểm cho sức khỏe của bạn,
                vì vậy hãy nói chuyện với bác sĩ để đảm bảo.
                Một người bình thường không nên uống quá 1 đơn vị rượu/ngày (1 đơn vị rượu chứa 10g cồn), tương đương: 30ml
                rượu mạnh (40-43 độ); 100ml rượu vang (13,5 độ); 330ml bia hơi (5 độ); 2/3 chai 500ml hoặc lon bia 330ml (5
                độ).
            </p>
        </div>
    </div>
}
