@model Dotnet.Models.TipsCardViewModel

<section class="">
    <div class="">
        <img src="" alt="" class="" />
    </div>
    <div class="">
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
    </div>
</section>