@{
    var Part1 = new Dotnet.Models.ResultOverviewViewModel
            {
                Class = "",
                OverviewTitle = "Tổng quan",
                Text = @"
                <p class='text-xl leading-10'>  +   Lượng rượu bạn uống vượt quá mức an toàn đáng kể.Rất có thể việc uống rượu của bạn đã gây ra ít nhất một số vấn đề sau đây, ngay cả khi bạn không nghĩ rằng rượu là nguyên nhân: khó ngủ, giảm năng lượng và động lực và kèm theo đó là sự lo lắng.</p>
                <p class='text-xl leading-10'>  +   Theo các nghiên cứu, lá gan của một người bình thường khỏe mạnh có thể lọc được khoảng từ 300ml - 400ml bia mỗi ngày:</p>
                <p class='text-xl leading-10'> > Khuyến cáo nữ giới chỉ nên uống không quá 330ml bia, tương đương 1 lon bia mỗi ngày
                >Nam giới thì chỉ nên uống không quá 660ml bia, tức khoảng 2 lon bia mỗi ngày. => Song điều đáng lưu ý là
                một tuần không nên uống quá 5 ngày.</p>
                <p class='text-xl leading-10'>( https://tuoitre.vn/video/uong-bia-dung-cach-de-tot-cho-suc-khoe-152327.htm )</p>"
            };
    var Part2 = new Dotnet.Models.ResultOverviewViewModel
            {
                Class = "bg-[#F5F7FB]",
                OverviewTitle = "Phân tích tình trạng hiện tại ",
                Text = @"
                <p class='text-xl leading-10'>  +   Tổ chức Y tế Thế giới (WHO) đánh giá mức tiêu thụ rượu, bia của người Việt Nam là cao so với các quốc gia khác trong khu vực. Ước tính, trung bình mỗi người Việt trên 15 tuổi tiêu thụ 8,3 lít cồn nguyên chất trong một năm</p>
                <p class='text-xl leading-10'>Bạn đang ở mức độ rất báo động, khả năng bạn bị nghiện bia rượu là rất cao và điều này sẽ gấy ảnh hưởng rất lớn tới cơ thể, sức khỏe và cả tình hình trật tự an ninh xã hội</p>
                <p class='text-xl leading-10'>Nguồn: https://tuoitre.vn/tac-hai-cua-bia-ruou-voi-suc-khoe-2017091316011917.htm </p>
                <p class='text-xl leading-10'>  +   Đối với cơ thể và sức khỏe: Uống nhiều rượu có thể làm giảm đột ngột số lượng hồng cầu trong máu giúp vận chuyển oxy để nuôi cơ thể, gây ra thiếu máu. Những người thiếu máu thường bị các triệu chứng như mệt mỏi,khó thở, chóng mặt và kém minh mẫn…Ngoài ra bạn còn bị các vấn đề về tim mạch, viêm gan, Gout, huyết áp cao,...</p>
                <p class='text-xl leading-10'>  +   Cồn là chất có tác dụng độc hại đến tinh hoàn và tinh trùng cho nên nếu nam giới uống rượu trước khi sinh hoạt tình dục chẳng những làm tăng khả năng sảy thai ở người vợ mà còn có thể ảnh hưởng đến việc phát triển của đứa con sinh ra. Nếu người mẹ uống rượu trong thời gian mang thai dễ sinh ra các đứa trẻ có khuyết tật về trí tuệ.</p>
                <p class='text-xl leading-10'>  +   Đối với xã hội: ảnh hưởng rất lớn đến đời sống và tình hình an ninh trật tự xã hội như bạo hành gia đình và gây rối trật tự xã hội. Tai nạn giao thông tăng vọt và thương tâm có liên quan rất nhiều đến rượu, nên nếu tham gia giao thông cần rất hạn chế rượu bia</p>"
            };
    var Part3 = new Dotnet.Models.ResultOverviewViewModel
            {
                Class = "",
                OverviewTitle = "Giới hạn uống an toàn",
                Text = @"
                <p class='text-xl leading-10'>Đối với những người mắc một số bệnh trạng nhất định, có triệu chứng của một số bệnh trạng nhất định hoặc đang dùng các loại thuốc cụ thể, bất kỳ việc uống rượu, bia nào cũng có thể gây nguy hiểm cho sức khỏe của bạn, vì vậy hãy nói chuyện với bác sĩ để đảm bảo.</p>
                <p class='text-xl leading-10'>Một người bình thường không nên uống quá 1 đơn vị rượu/ngày (1 đơn vị rượu chứa 10g cồn), tương đương: 30ml
                rượu mạnh (40-43 độ); 100ml rượu vang (13,5 độ); 330ml bia hơi (5 độ); 2/3 chai 500ml hoặc lon bia 330ml (5
                độ).</p>"
            };

}

<div class="flex flex-col gap-8">
    @await Html.PartialAsync("Result/Components/ResultTitle", "High")
    @await Html.PartialAsync("Result/Components/ResultOverview", Part1)
    @await Html.PartialAsync("Result/Components/ResultOverview", Part2)
    @await Html.PartialAsync("Result/Components/ResultOverview", Part3)
    @await Html.PartialAsync("Result/Components/TipsList")
</div>
@await Html.PartialAsync("Footer/Footer")




