<footer
    class="bg-[#1D3D6E] text-white flex flex-col xl:flex-row xl:px-32 py-8 xl:items-center gap-10 pl-8 pr-0 items-start">
    <img src='~/images/footer.png' alt='footer' class='w-48 h-10' />
    <div class="flex flex-col gap-4 xl:text-xl w-4/5 text-sm">
        <div class="">AlcoholScreening.org is a free service of the Partnership to End Addiction (formerly
            run through the Join Together News Service, a project of the Boston University School of Public Health).
        </div>
        <div class="">
            Learn more at
            <a href='google.com'><u>DrugFree.org</u></a> | View our
            <a href='google.com'><u>privacy policy.</u></a>
        </div>
    </div>
</footer>