<header class="sticky top-0">
    <div class="flex py-4 gap-4 pl-10 h-24 items-center text-xl text-[#0000008c] bg-white">
        <img src="~/images/logo.png" alt="logo" />
        <div class="">Take the quiz</div>
        <div class="">Resources</div>
        <div class="">About us</div>
    </div>
</header>