<header class="sticky top-0">
    <div class="flex py-4 gap-4 pl-10 h-24 items-center justify-center text-xl text-[#0000008c] bg-white">
        <img src="~/images/shorten_logo.png" alt="logo" />
    </div>
</header>