@{
    var Part1 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        Text = @"
        <b class='text-xl'>Dưới đây là một số loại thảo dược giúp hỗ trợ quá trình phục hồi cơ thể sau khi đã sử dụng rượu bia trong thời gian dài:</b>"
    };
    var Part2 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "1. Cây kế sữa (Milk Thistle)",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'><b>Công dụng:</b> Giải độc gan, giúp tăng cường chức năng gan và hỗ trợ tiêu hóa.</li>
            <li class='text-xl'><b>Cách dùng:</b> Thường được dùng dưới dạng trà hoặc thuốc sắc.</li>
        </ol>"
    };
    var Part3 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "2. Nhân trần (Artemisia Capillaris)",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'><b>Công dụng:</b> Hỗ trợ chức năng gan, giúp bảo vệ và tái tạo tế bào gan bị tổn thương do rượu bia.</li>
            <li class='text-xl'><b>Cách dùng:</b> Có thể dùng dưới dạng viên uống, trà hoặc chiết xuất.</li>
        </ol>"
    };
    var Part4 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "3. Cây bồ công anh (Dandelion)",
        Text = @"

        <ol class='list-disc list-inside'>
            <li class='text-xl'><b>Công dụng:</b> Thanh lọc gan và thận, giúp đào thải độc tố khỏi cơ thể.</li>
            <li class='text-xl'><b>Cách dùng:</b> Uống trà bồ công anh hoặc dùng dưới dạng viên.</li>
        </ol>"
    };
    var Part5 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "4. Rễ cây cam thảo (Licorice Root)",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'><b>Công dụng:</b> Giúp bảo vệ gan và tăng cường hệ miễn dịch, hỗ trợ giảm viêm.</li>
            <li class='text-xl'><b>Cách dùng:</b> Dùng dưới dạng trà hoặc chiết xuất.</li>
        </ol>"
    };
    var Part6 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "5. Cây nghệ (Turmeric)",
        Text = @"

        <ol class='list-disc list-inside'>
            <li class='text-xl'><b>Công dụng:</b> Chứa curcumin, một chất chống viêm mạnh, giúp cải thiện chức năng gan và hỗ trợ tiêu hóa.</li>
            <li class='text-xl'><b>Cách dùng:</b> Uống bột nghệ với nước ấm, thêm vào món ăn hoặc dưới dạng viên nang.</li>
        </ol>"
    };
    var Part7 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "6. Cây thì là (Fennel)",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'><b>Công dụng:</b> Hỗ trợ tiêu hóa, giảm đầy bụng và khó tiêu, đặc biệt sau khi uống rượu.</li>
            <li class='text-xl'><b>Cách dùng:</b> Sử dụng hạt thì là trong trà hoặc thêm vào các món ăn.</li>
        </ol>"
    };
    var Part8 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "7. Cây bạc hà (Peppermint)",
        Text = @"

        <ol class='list-disc list-inside'>
            <li class='text-xl'><b>Công dụng:</b> Giúp giảm triệu chứng buồn nôn và khó tiêu liên quan đến tiêu thụ rượu.</li>
            <li class='text-xl'><b>Cách dùng:</b> Uống trà bạc hà hoặc sử dụng tinh dầu bạc hà.</li>
        </ol>"
    };
    var Part9 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "8. Cây hương thảo (Rosemary)",
        Text = @"

        <ol class='list-disc list-inside'>
            <li class='text-xl'><b>Công dụng:</b> Hỗ trợ gan và thận trong quá trình thải độc, đồng thời giúp cải thiện trí nhớ và tăng cường tuần hoàn máu.</li>
            <li class='text-xl'><b>Cách dùng:</b> Uống trà hương thảo hoặc dùng lá hương thảo tươi trong nấu ăn.</li>
        </ol>"
    };
    var Part10 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        Text = @"<b class='text-xl'>Kết hợp các loại thảo dược này trong chế độ ăn uống hàng ngày sẽ giúp cơ thể phục hồi nhanh chóng và cải thiện sức khỏe sau một giai đoạn dài sử dụng rượu bia.</b>"
    };
}

@await Html.PartialAsync("Header/Header")
<div class="flex flex-col gap-6">
    @await Html.PartialAsync("Tips/Components/TipsTitle", "Một số loại thảo dược có tác dụng")
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part1)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part2)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part3)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part4)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part5)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part6)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part7)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part8)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part9)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part10)
</div>
@await Html.PartialAsync("Tips/Components/TipsList")
@await Html.PartialAsync("Footer/Footer")