@{
    var Part1 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        Text = @"
        <b class='text-xl'>Dưới đây là một số triệu chứng phổ biến cho thấy sức khỏe bị suy giảm do việc sử dụng rượu bia trong thời gian dài:</b>"
    };
    var Part2 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "1. Mệt mỏi và suy nhược",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Cảm thấy kiệt sức ngay cả khi không hoạt động nhiều. Rượu bia có thể làm giảm chất lượng giấc ngủ và làm tổn thương gan, gây ra mệt mỏi mãn tính.</li>
        </ol>"
    };
    var Part3 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "2. Rối loạn giấc ngủ1. Mệt mỏi và suy nhược",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Dù rượu có thể khiến bạn buồn ngủ, nhưng nó làm gián đoạn giấc ngủ sâu, gây ra chứng mất ngủ hoặc giấc ngủ không chất lượng.</li>
        </ol>"
    };
    var Part4 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "3. Rối loạn tiêu hóa",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Buồn nôn, đầy hơi, tiêu chảy hoặc táo bón. Rượu gây kích ứng niêm mạc dạ dày và có thể dẫn đến viêm loét dạ dày.</li>
        </ol>"
    };
    var Part5 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "4. Suy giảm trí nhớ và khó tập trung",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Khó nhớ thông tin hoặc mất tập trung trong công việc hằng ngày. Rượu ảnh hưởng đến chức năng não bộ, gây ra suy giảm trí nhớ tạm thời hoặc kéo dài.</li>
        </ol>"
    };
    var Part6 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "5. Vàng da hoặc mắt",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Da hoặc mắt có màu vàng là dấu hiệu của bệnh gan, đặc biệt là viêm gan do rượu hoặc xơ gan.</li>
        </ol>"
    };
    var Part7 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "6. Tăng cân hoặc sụt cân",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Rượu chứa nhiều calo rỗng, có thể dẫn đến tăng cân. Tuy nhiên, với việc lạm dụng rượu lâu dài, một số người có thể gặp tình trạng sụt cân do rối loạn tiêu hóa và suy dinh dưỡng.</li>
        </ol>"
    };
    var Part8 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "7. Suy giảm hệ miễn dịch",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Thường xuyên bị cảm lạnh, nhiễm trùng hoặc bệnh tật. Rượu làm suy yếu hệ thống miễn dịch, khiến cơ thể dễ bị bệnh hơn.</li>
        </ol>"
    };
    var Part9 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "8. Rối loạn tâm lý và cảm xúc",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Tâm trạng thất thường, lo lắng, trầm cảm hoặc dễ nổi nóng. Rượu có tác động tiêu cực đến cân bằng hóa học trong não, ảnh hưởng đến sức khỏe tâm thần.</li>
        </ol>"
    };
    var Part10 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        OverviewTitle = "9. Run tay hoặc co giật",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Khi lượng rượu trong cơ thể giảm, người nghiện rượu có thể gặp tình trạng run tay, co giật hoặc các triệu chứng nghiêm trọng khác liên quan đến hội chứng cai rượu.</li>
        </ol>"
    };
    var Part11 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "",
        OverviewTitle = "10. Đau gan hoặc đau vùng bụng trên phải",
        Text = @"
        <ol class='list-disc list-inside'>
            <li class='text-xl'>Cảm giác đau hoặc tức nặng vùng bụng phải là dấu hiệu của các vấn đề gan nghiêm trọng như viêm gan, xơ gan hoặc gan nhiễm mỡ.</li>
        </ol>"
    };
    var Part12 = new Dotnet.Models.TipsCardViewModel
    {
        Class = "bg-[#F5F7FB]",
        Text = @"
        <b>Nếu gặp phải một hoặc nhiều triệu chứng này, bạn nên xem xét giảm hoặc ngừng rượu bia và tìm kiếm sự tư vấn từ bác sĩ để kiểm tra sức khỏe tổng thể.</b>"
    };
}

@await Html.PartialAsync("Header/Header")
<div class="flex flex-col gap-6">
    @await Html.PartialAsync("Tips/Components/TipsTitle", "Các triệu chứng cho thấy sức khỏe đi xuống")
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part1)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part2)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part3)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part4)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part5)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part6)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part7)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part8)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part9)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part10)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part11)
    @await Html.PartialAsync("Tips/Components/TipsOverview", Part12)
</div>
@await Html.PartialAsync("Tips/Components/TipsList")
