@{
    ViewData["Title"] = "Result";
}
<div class="">
    @await Html.PartialAsync("Header/Header")
    <div id="resultContainer" class="w-full h-full flex justify-center flex-col items-center"></div>
</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const totalScore = sessionStorage.getItem('totalScore');

            if (totalScore !== null) {
                fetch('@Url.Action("RenderResultComponent", "Home")?score=' + totalScore)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('resultContainer').innerHTML = html;
                    });
            } else {
                const resultContainer = document.getElementById('resultContainer');
                const noScoreDiv = document.createElement('div');
                noScoreDiv.innerText = 'Score not available';
                resultContainer.appendChild(noScoreDiv);
            }
        });
    </script>
}