<div class="flex flex-col gap-6 text-[#2F2F2F] h-fit pb-12 px-8">
    <h1 class="text-center text-4xl pb-12">About Us</h1>
    <p class="text-xl leading-6">AlcoholScreening.org is a free service of the Partnership to End Addiction (formerly run through the Join Together News Service, a project of the Boston University School of Public Health).</p>
    <p class="text-xl leading-6">AlcoholScreening.org helps individuals assess their own alcohol drinking patterns to determine if it is likely to
        be harming their health or increasing their risk for future harm. Through education and referral, the site urges
        those whose drinking is harmful or hazardous to take positive action, and informs all adults who consume alcohol
        about guidelines and caveats for lower-risk drinking. By answering a few questions, AlcoholScreening.org can
        offer you information about safe guidelines for drinking and your current level of risk for potential harm to
        your health and well-being.</p>
</div>