@* Views/Shared/_MyComponent.cshtml *@

<div class="flex items-center flex-col justify-center xl:flex-row-reverse h-[26.75rem] bg-[#ffbd5c]">
    <div class="h-fit px-7 xl:w-7/12 pt-4">
        <p class='font-bold text-[rgb(29,61,110)] text-xl xl:text-2xl'>Tò mò về thói quen uống rượu của bạn??</p>
        <br>
        <p class='font-semibold text-[#1D3D6E] text-2xl xl:text-3xl'>Trả lời một số câu hỏi để nhận phản hồi và hỗ trợ được cá nhân hóa</p>
        <br>
    </div>
    <a href="@Url.Action("Index","Quiz")"><button class='bg-[#1d3d6e] hover:bg-[#0C85D2] active:bg-[#ffbd5c] text-white px-4 py-2 rounded-md font-bold text-2xl shadow-gray-500 active:border active:border-white shadow-sm transition duration-100 xl:h-24 xl:w-52 xl:text-3xl'>
        Get started
    </button></a>


</div>